.vscode/**
.vscode-test/**
.vsc/**
src/**
test/**
.gitignore
.git/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.test.json
**/.eslintrc.json
**/*.map
**/*.ts
.test-logs/**
.test-storage/**
test-results/**
test-workspace/**
scripts/**
docs/**
.github/**
node_modules/**
esbuild.mjs
.mocharc.json
.cursorrules
CONTRIBUTING.md
eslint.config.mjs
package-lock.json
commit-message.txt

# Include only necessary files
!dist/**
!media/**
!schemas/**
!LICENSE*
!README.md
!CHANGELOG.md
!package.json