<!-- src/viewProviders/templates/html/webview.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STYLE_URI}}" rel="stylesheet">
    <title>IBM Catalog JSON Editor</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src {{CSP_SOURCE}} 'unsafe-inline'; script-src 'nonce-{{NONCE}}' {{CSP_SOURCE}};">
</head>
<body>
    <div id="login-status" class="{{LOGIN_STATUS_CLASS}}">{{LOGIN_STATUS}}</div>
    <button id="save-button" disabled>Save</button>
    <button id="refresh-catalog-button" {{REFRESH_CATALOG_BUTTON_DISABLED}}>Get Catalog Details</button> 
    <div id="error-container"></div> <!-- Container for validation errors -->
    <div id="json-viewer"></div>

    <!-- Modal Overlay -->
    <div id="modal-overlay" class="modal" hidden>
        <div class="modal-content">
            <span id="modal-close" class="close">&times;</span>
            <h2>Add New Element</h2>
            <input type="text" id="element-input" placeholder="Enter new element value">
            <div class="buttons">
                <button id="modal-add-button">Add</button>
                <button id="modal-cancel-button">Cancel</button>
            </div>
        </div>
    </div>

    {{SCRIPT_URIS}}
</body>
</html>
